@charset 'UTF-8';

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');; */
/* @import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=family=Klee+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Iansui&display=swap');

:root {
    --primary-color: #1F4F97;

    --text-primary: var(--primary-color);
    --text-secondary: #aaa;

    --title-01: #136074;
    --title-02: #F14B62;
    --title-03: #906E20;

    --main-bg: #eee;
    --nav-bg: #11C0D8;
    --content-bg: #fff;
    --footer-bg: #25707b;
    --footer-text: #fff;
    --btn-bg: #55ADCD;
    --btn-text: #fff;
    --link-text: #fff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Zen Maru Gothic", "Iansui", "Klee One", "Noto Sans Tc", sans-serif;
}

a {
    color: var(--link-text);
    text-decoration: none;
}

p {
    line-height: 24px;
}

img {
    width: 100%;
    max-width: 100%;
}

/* Font */

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-900 {
    font-weight: 900;
}

/* Background */

.bg-img {
    background-position: center center;
    background-size: cover;
}

.bg-norepeat {
    background-repeat: no-repeat;
}


/* position */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* Color */
.text-primary {
    color: var(--text-primary)
}

.text-secondary {
    color: var(--text-secondary);
}


/* Spacing */
.mg-10 {
    margin: 10px;
}

.mg-20 {
    margin: 20px;
}

.mg-30 {
    margin: 30px;
}

.pd-10 {
    padding: 10px;
}

.pd-20 {
    padding: 20px;
}

.pd-30 {
    padding: 30px;
}

.my-10 {
    margin: 10px 0;
}

.my-20 {
    margin: 20px 0;
}

.my-30 {
    margin: 30px 0;
}

.mx-10 {
    margin: 0 10px;
}

.mx-20 {
    margin: 0 20px;
}

.mx-30 {
    margin: 0 30px;
}

.py-10 {
    padding: 10px 0;
}

.py-20 {
    padding: 20px 0;
}

.py-30 {
    padding: 30px 0;
}

.px-10 {
    padding: 0 10px;
}

.px-20 {
    padding: 0 20px;
}

.px-30 {
    padding: 0 30px;
}